.footer {
    background-color: #f5f5f5;
}
.inner-padded {
    padding-top: 5em; !important;
    padding-bottom: 5em; !important;
}
.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

form {
    background-color: #4654e1;
    width: 70%;
    height: 44px;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
}

input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: #fff;
    opacity: 0.7;
}

svg {
    color: #fff;
    fill: currentColor;
    width: 45px;
    height: 45px;
    padding: 10px;
}

button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}