<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h1 class="display-3 mb-5"> Something went wrong!</h1>
<h2 class="display-4 mb-2">The page your looking for does not exist</h2>
<a class="display-4" href="/">Return to home page</a>
</body>
</html>