<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Search Tracks</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><img style="width: 35px" th:src="@{/img/thymeleaf.png}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home </a>
            </li>
        </ul>
    </div>
</nav>



<div class="container inner-padded">
    <div class="row justify-content-center align-items-center">
        <h1 class="display-3">Track Details</h1>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-3">
        </div>
    </div>
</div>

<div class="table">
    <h2>Search for tracks</h2>
    <form th:action="@{/tracks}" method="get">
        <input type="text" name="search" id="search" th:value="${search}" placeholder="Search tracks..."
               aria-label="Search through tracks"/>
        <button type="submit">
            <svg viewBox="0 0 1024 1024"><path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path></svg>
        </button>
    </form>
</div>
    <div th:if="${not #lists.isEmpty(search)}">
        <h2>Track List</h2>
        <table class="table table-striped">
            <tr>
                <th>Track Name</th>
                <th>Artist</th>
            </tr>
            <tr th:each="track: ${search}">
                <td th:text="${search.getTrackName()}"></td>
                <td th:text="${search.getComposer()}">composer</td>
            </tr>
        </table>
    </div>

</body>
</html>